/* Variáveis globais */

$cor-primaria: rgb(90, 97, 220);
$cor-primaria-hover: rgb(60, 66, 180);

$cor-texto: #1e293b;
$cor-footer: #64748b;
$cor-divisor: #d1d5db;

$cor-branca: #fff;
$cor-borda: #ccc;

$fundo: linear-gradient(
    180deg,
    #f8fafc,
    #eef2ff
);

$fonte-principal: Arial, Helvetica, sans-serif;

$espacamento: 2rem;
$radius: .5rem;
$sombra: 0 .2rem .5rem rgba(0,0,0,.1);